body {
  background-color: #333333;
}

/*スマホでのハンバーガーメニューの3本線を白に変更*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tag_list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
  }

.box {
  display: grid;
  background-color: #222222;
  border-radius: 14px;
  width: 380px;
  height: 450px;
  /*border: 1px solid #ccc; boxの枠線をつけるかどうか*/
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
}

.box-header {
  background-color: #444444;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 0;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  flex-grow: 0;
}

.box-header h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }

.box-content {
    text-align: left;
    font-size: 12px;
    padding: 10px;
    color: white;
    flex-grow: 1;
    max-height: 400px; /* スクロールする高さを指定 */
    overflow-y: scroll;
    padding-right: 15px;
  }

.box-content p:first-child {
    margin-top: 0;
}

.box-footer {
  background-color: #2F3136;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 4px;
  flex-grow: 0;
}


.box-footer button {
  flex: 1;
  margin: 0;
}

.box-footer h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

h1, .mb-3, .form-label, .languageinput, .checklist, h2 {
  color: white;
}

nav{
  background-color: #222222;
}

nav .navbar-brand{
  color: white;
}

nav .navbar-nav .nav-item .nav-link{
  color: white
}

.tag_languages, .tag_genres {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #666666;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* スクロールバーを細くする */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
}

/* スクロールバーのコーナーをカスタマイズする */
::-webkit-scrollbar-corner {
  background-color: #333333;
}

/* スクロールバーのホバーなしでも表示する */
/* Chrome */
::-webkit-scrollbar-thumb:vertical {
  background-color: #666666;
}
