body {
  background-color: #333333;
}

/*スマホでのハンバーガーメニューの3本線を白に変更*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tag_list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
  }

.box {
  display: grid;
  background-color: #222222;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
}

.box-header {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 0;
}

.box-header h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }

h1, .mb-3, .form-label, .languageinput, .checklist, h2 {
  color: white;
}

nav{
  background-color: #222222;
}

nav .navbar-brand{
  color: white;
}

nav .navbar-nav .nav-item .nav-link{
  color: white
}

.tag_languages, .tag_genres {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #666666;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box-content {
  text-align: left;
  font-size: 12px;
  padding: 10px;
  color: white;
  flex-grow: 1;
}

.box-content p:first-child {
  margin-top: 0;
}
