body {
  background-color: #333333;
}

.tag_list {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

.box {
  background-color: #222222;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.box-header {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


h1 {
  color: white;
}

.box-header h2 {
  margin: 0;
  color: white;
}

.box-content {
  text-align: left;
  font-size: 16px;
  padding: 15px;
  color: white;
}

.mb-3 {
  color: white;
}

.form-label {
  color: white;
}

.languageinput {
  color: white;
}

.checklist {
  color: white;
}

h2 {
  color: white;
}