body {
  background-color: #333333;
}

/*スマホでのハンバーガーメニューの3本線を白に変更*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tag_list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
  }

.box {
  display: grid;
  background-color: #222222;
  border-radius: 14px;
  width: 380px;
  height: 450px;
  /*border: 1px solid #ccc; boxの枠線をつけるかどうか*/
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
}
.box-header {
  background-color: #444444;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 0;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  flex-grow: 0;
}
.box-header h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }

/*works用　box_works, box-header_works*/
.box_works {
  display: grid;
  background-color: #525252;
  border-radius: 14px;
  width: 380px;
  height: 450px;
  /*border: 1px solid #ccc; boxの枠線をつけるかどうか*/
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
}

.box-header_works {
  background-color: #a6a6a6;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 0;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  flex-grow: 0;
}

.box-header_works h2 {
  margin: 0;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  }

.box-content {
    text-align: left;
    font-size: 12px;
    padding: 10px;
    color: white;
    flex-grow: 1;
    max-height: 400px; /* スクロールする高さを指定 */
    overflow-y: scroll;
    padding-right: 15px;
    overflow-wrap: break-word;
}

.box-content p:first-child {
    margin-top: 0;
}

.box-footer {
  background-color: #2F3136;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 4px;
  flex-grow: 0;
}


.box-footer button {
  flex: 1;
  margin: 0;
}

.box-footer h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  /*white-space: nowrap; テキストを折り返さないようにする*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

h1, .mb-3, .form-label, .languageinput, .checklist, h2, h3, h4{
  color: white;
}

nav{
  background-color: #222222;
}

nav .navbar-brand{
  color: white;
}

nav .navbar-nav .nav-item .nav-link{
  color: white
}

.tag_languages, .tag_genres {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #666666;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* スクロールバーを細くする */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
}

/* スクロールバーのコーナーをカスタマイズする */
::-webkit-scrollbar-corner {
  background-color: #333333;
}

/* スクロールバーのホバーなしでも表示する */
/* Chrome */
::-webkit-scrollbar-thumb:vertical {
  background-color: #666666;
}

.design h2{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.design h2:before, .design h2:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: white;
}
.design h2:before {
  left: 7px;
}
.design h2:after {
  right: 7px;
}

.getdesign h3 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.getdesign h3:before, .getdesign h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: white;
}

.getdesign h3:before {
  left:0;
}
.getdesign h3:after {
  right: 0;
}

/* これより下 button.cssにあったやつ */

.tag_languages {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.tag_genres {
  background-color: #d35f39;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.button_delete {
  background-color: #b84141;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.button_stop {
  background-color: #3452a3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.button_delete:hover,
.button_stop:hover {
  background-color: #777777;
}

.comment{
  white-space: pre-wrap;
  width: inherit;
  word-wrap: break-word;
}