body {
  background-color: #333333;
}

.tag_list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0auto;
  }

.box {
  background-color: #222222;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.box-header {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 0;
}

.box-header h2 {
  margin: 0;
  color: white;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

h1, .mb-3, .form-label, .languageinput, .checklist, h2 {
  color: white;
}

nav{
  background-color: #222222;
}

nav .navbar-brand{
  color: white;
}

nav .navbar-nav .nav-item .nav-link{
  color: white
}

.tag_languages, .tag_genres {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #666666;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box-content {
  text-align: left;
  font-size: 16px;
  padding: 15px;
  color: white;
  flex-grow: 1;
}

.box-content p:first-child {
  margin-top: 0;
}