.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

.box {
  background-color: #ccc;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box-content {
  font-size: 16px;
}

