{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Input</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        </head>

        <body>
            <div class="mb-3">
                <label for="mailaddressinput" class="form-label">メールアドレス</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="languageinput" class="form-label">使用したい言語</label>
                <select class="form-select" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    <option value="1">Python</option>
                    <option value="2">Java</option>
                    <option value="3">Javascript</option>
                    <option value="4">C#</option>
                    <option value="5">C/C++</option>
                    <option value="6">PHP</option>
                    <option value="7">R</option>
                    <option value="8">Typescript</option>
                    <option value="9">Swift</option>
                    <option value="10">Go</option>
                    <option value="11">Ruby</option>
                    <option value="12">PHP</option>
                    <option value="13">HTML</option>
                    <option value="14">CSS</option>
                    <option value="15">SQL</option>
                    <option value="16">その他</option>
                </select>
            </div>

            <div class="form-check">
                <label for="languageinput" class="form-label">使用したい言語</label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
                </label>
            </div>

            <div class="mb-3">
                <label for="genreinput" class="form-label">作りたいジャンル</label>
                <select class="form-select" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    <option value="1">webアプリ</option>
                    <option value="2">ゲーム</option>
                    <option value="3">iOSアプリ</option>
                    <option value="4">androidアプリ</option>
                    <option value="5">データサイエンス</option>
                    <option value="6">その他</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="periodinput" class="form-label">募集取りやめまでの期間</label>
                <select class="form-select" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    <option value="1">10日</option>
                    <option value="2">20日</option>
                    <option value="3">30日</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="completeperiodinput" class="form-label">完成までの目安期間</label>
                <select class="form-select" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    <option value="1">1ヶ月以内</option>
                    <option value="2">1ヶ月~3ヶ月</option>
                    <option value="3">3ヶ月以上</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="wantpersoninput" class="form-label">募集する人のレベル</label>
                <select class="form-select" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    <option value="1">初級</option>
                    <option value="2">中級</option>
                    <option value="3">上級</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="commentinput" class="form-label">コメント</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        </body>
    </html>