{% extends "layout.html" %}

{% block title %}
    My page

{% endblock %}

{% block main %}
<!-- ナビゲーションバーの下に追加したいものはここから下に書いてください -->
<h1>MY PAGE</h1>
<!--自分の投稿boxを表示-->
{% for entry in entries %}
<div class="box">
    <div class="box-header">
        <h2>{{ entry.title }}</h2>
        {% for lang in entry.languages %}
            <button class="tag">{{ lang.name }}</button>
        {% endfor %}
    </div>
    <div class="box-content">
        <p>{{ entry.mail_address }}</p>
        <p>{{ entry.time }}</p>
        <p>{{ entry.level }}</p>
        <p>{{ entry.day_posted }}</p>
        <p>{{ entry.day_end }}</p>
        <p>{{ entry.body }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}