{% extends "layout.html" %}

{% block title %}
    <!-- InputかIndexを書く -->
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
{% endblock %}

{% block main %}
<!-- ナビゲーションバーの下に追加したいものはここから下に書いてください -->
<h1>MY PAGE</h1>
<!--自分の投稿boxを表示-->
<div class="box-container">
    {% for entry in entries %}
    <div class="box">
        <div class="box-header">
            <h2>{{ entry.title }}<br>
            <!--複数言語が,で区切られているので、カンマ部分でbuttonを分割-->
            {% for language in entry.language_name.split(',') %}
                <button class="tag_languages">{{ language }}</button>
            {% endfor %}
            <br>
            <button class="tag_genres">{{ entry.genre }}</button>
            </h2>
        </div>
        <div class="box-content">
            <p>連絡先 : {{ entry.mail_address }}</p>
            <p>開発予定期間 : {{ entry.time }}</p>
            <p>募集レベル : {{ entry.level }}</p>
            <p>投稿日 : {{ entry.day_posted }}</p>
            <p>募集締切 : {{ entry.day_end }}</p>
            <p>{{ entry.body }}</p>
        </div>
        <div class="box-footer">
            <h2>
                <!--複数言語が,で区切られているので、カンマ部分でbuttonを分割-->
                <form action="/mypage" method="post">
                    <button class="button_delete" value="{{ entry.entry_id }}" name="deleteid" id="deleteid">削除する</button>
                    <br>
                    <br>
                    <button class="button_stop" value="{{ entry.entry_id }}" name="stopid" id="stopid">募集を取りやめる</button>
                </form>
            </h2>
        </div>
    </div>
    {% endfor %}
    <script>
        let deleteid = document.querySelector('#deleteid');
        deleteid.addEventListener('click', function() {
            var result = window.confirm('募集投稿を削除しますか？');

            if(result){
                return result;
            }
            else{
                return event.preventDefault()
            }
        })

        let stopid = document.querySelector('#stopid');
        stopid.addEventListener('click', function() {
            var result = window.confirm('募集投稿を停止しますか？');

            if(result){
                return result;
            }
            else{
                return event.preventDefault()
            }
        })
    </script>
</div>
{% endblock %}