{% extends "layout.html" %}

{% block title %}
    Output
{% endblock %}

{% block main %}
    <h2>成果物を投稿する</h2>
    <form action="/output" method="post">
        <body>
            <div class="mb-3">
                <label for="project" class="form-label">投稿プロジェクト名</label>
                <input class="form-control" type="title" placeholder="入力してください" name="project" autocomplete="off">
            </div>

            <div class="mb-3">
                <label for="github" class="form-label">GitHubリポジトリのURL</label>
                <input class="form-control" type="url" placeholder="入力してください" name="github" autocomplete="off">
            </div>

            <div class="mb-3">
                <label for="youtube" class="form-label" style="display:inline-block;">説明動画（YouTube）の埋め込み用</label>
                <!--ポップアップ開始-->
                <div class="text-center col-xs-12">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#test-modal" style="display:inline-block;">
                        動画の埋め込みについて
                    </button>
                </div>
                <div id="test-modal" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">タイトル</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ここに本文を書けます。
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ポップアップ終了-->
                <input class="form-control" type="text" placeholder="入力してください" name="youtube" autocomplete="off">
            </div>

            <div class="mb-3">
                <label for="howmany" class="form-label">制作に携わった人数</label>
                <input class="form-control mx-auto w-auto" name="howmany" placeholder="入力してください" type="number">
            </div>

            <div class="mb-3">
                <label for="mail" class="form-label">代表者のメールアドレス</label>
                <input type="email" class="form-control" placeholder="name@example.com" name="mail" autocomplete="off">
            </div>

            <div>
                <label for="language" class="form-label">使用した言語&nbsp;</label>
                <input class="checklist" type="checkbox" value="" id="Check_all">
                <label class="checklist" for="Check_all">全て選択 / 解除</label>

                <p>
                    <input class="checklist" type="checkbox" value="2" id="Check1" name="language">
                    <label class="checklist" for="Check1">Python&nbsp;</label>

                    <input class="checklist" type="checkbox" value="4" id="Check2" name="language">
                    <label class="checklist" for="Check2">Java&nbsp;</label>

                    <input class="checklist" type="checkbox" value="1" id="Check3" name="language">
                    <label class="checklist" for="Check3">Javascript&nbsp;</label>

                    <input class="checklist" type="checkbox" value="7" id="Check4" name="language">
                    <label class="checklist" for="Check4">C#&nbsp;</label>

                    <input class="checklist" type="checkbox" value="10" id="Check5" name="language">
                    <label class="checklist" for="Check5">C/C++&nbsp;</label>

                    <input class="checklist" type="checkbox" value="5" id="Check6" name="language">
                    <label class="checklist" for="Check6">PHP&nbsp;</label>

                    <input class="checklist" type="checkbox" value="8" id="Check7" name="language">
                    <label class="checklist" for="Check7">R&nbsp;</label>

                    <input class="checklist" type="checkbox" value="14" id="Check8" name="language">
                    <label class="checklist" for="Check8">Typescript&nbsp;</label>

                    <input class="checklist" type="checkbox" value="6" id="Check9" name="language">
                    <label class="checklist" for="Check9">Swift&nbsp;</label>

                    <input class="checklist" type="checkbox" value="3" id="Check10" name="language">
                    <label class="checklist" for="Check10">Go&nbsp;</label>

                    <input class="checklist" type="checkbox" value="9" id="Check11" name="language">
                    <label class="checklist" for="Check11">Ruby&nbsp;</label>

                    <input class="checklist" type="checkbox" value="12" id="Check12" name="language">
                    <label class="checklist" for="Check12">HTML&nbsp;</label>

                    <input class="checklist" type="checkbox" value="13" id="Check13" name="language">
                    <label class="checklist" for="Check13">CSS&nbsp;</label>

                    <input class="checklist" type="checkbox" value="11" id="Check14" name="language">
                    <label class="checklist" for="Check14">SQL&nbsp;</label>

                    <input class="checklist" type="checkbox" value="15" id="Check15" name="language">
                    <label class="checklist" for="Check15">その他&nbsp;</label>
                </p>
            </div>

            <p></p>

            <div class="mb-3">
                <label for="genre" class="form-label">作ったジャンル</label>
                <select class="form-select mx-auto w-auto" aria-label="Default select example" name="genre">
                    <option disabled selected>Open this select menu</option>
                    <option value="webアプリ">webアプリ</option>
                    <option value="ゲーム">ゲーム</option>
                    <option value="iOSアプリ">iOSアプリ</option>
                    <option value="androidアプリ">androidアプリ</option>
                    <option value="データサイエンス">データサイエンス</option>
                    <option value="その他">その他</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="complete" class="form-label">完成までにかかった期間</label>
                <input class="form-control mx-auto w-auto" name="complete" placeholder="入力してください" type="text" autocomplete="off">
            </div>

            <div class="mb-3">
                <label for="person" class="form-label">投稿者のレベル</label>
                <select class="form-select mx-auto w-auto" aria-label="Default select example" name="person">
                    <option disabled selected>Open this select menu</option>
                    <option value="初級">初級(目安：半年以下)</option>
                    <option value="中級">中級(目安:半年〜1年)</option>
                    <option value="上級">上級(目安:1年以上)</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="overview" class="form-label">プロジェクトの概要</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="overview" placeholder="何か入力してください"></textarea>
            </div>

            <div class="mb-3">
                <label for="background" class="form-label">開発の背景</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="background" placeholder="何か入力してください"></textarea>
            </div>

            <div class="mb-3">
                <label for="technique" class="form-label">技術的な工夫</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="technique" placeholder="何か入力してください"></textarea>
            </div>

            <div class="mb-3">
                <label for="text" class="form-label">コメント（振り返り、他の人のメールアドレス、追加実装したい機能など）</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text" placeholder="何か入力してください"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

            <script>
                let checkbox_all = document.querySelector("#Check_all");

                let checkbox_list = document.querySelectorAll(".checklist");

                checkbox_all.addEventListener('change', change_all);

                function change_all() {
	                if (checkbox_all.checked) {
		                for (let i in checkbox_list) {
			                if (checkbox_list.hasOwnProperty(i)) {
				                checkbox_list[i].checked = true;
			                }
		                }

	                } else {
		                for (let i in checkbox_list) {
			                if (checkbox_list.hasOwnProperty(i)) {
				                checkbox_list[i].checked = false;
			                }
		                }
	                }
                };
            </script>
        </body>
    </form>
{% endblock %}