{% extends "layout.html" %}

{% block title %}
    Watch
{% endblock %}

{% block main %}
<h2>制作物一覧</h2>
<!-- タグボタンを表示させるためのコード -->
<!-- 文字列で検索 -->
<div class="mb-3">
    <form action="{{ url_for('watch_search') }}" method="GET">
        <input class="form-control" type="text" placeholder="検索したいキーワードを入力" name="keyword" autocomplete="off">
        <button type="submit" class="btn btn-primary">検索</button>
    </form>
</div>
<div class="tag_list">
    {% for i in genres %}
        <button name="button" type="submit" class="tag_genres" onclick="location.href='{{ url_for('watch_tag', tag=i.name) }}'">{{ i.name }}</button>
    {% endfor %}
    <br>
    {% for i in languages %}
        <button name="button" type="submit" class="tag_languages" onclick="location.href='{{ url_for('watch_language', tag=i.name) }}'">{{ i["name"] }}</button>
    {% endfor %}
</div>

<div class="box-container">
   {% for work in works %}
        <div class="box_works">
            <div class="box-header_works">
                <h2><a href="{{ url_for('watch_get', get=work.work_id) }}">{{ work.title }}</a><br>
                <!--複数言語が,で区切られているので、カンマ部分でbuttonを分割-->
                {% for language in work.language_name.split(',') %}
                    <button class="tag_languages">{{ language }}</button>
                {% endfor %}
                <br>
                <button class="tag_genres">{{ work.genre }}</button>
                </h2>
            </div>
            <div class="box-content">
                <img src="http://img.youtube.com/vi/{{ work.youtube2 }}/mqdefault.jpg">
                <p>年齢 : {{ work.grade }}</p>
                <p>レベル : {{ work.level }}</p>
                <p>概要 : {{ work.overview }}</p>
                <p>背景 : {{ work.background }}</p>
            </div>
        </div>
   {% endfor %}
</div>
{% endblock %}
